# **Working with JSON/SQL**

## **Import Required Libraries**

In [1]:
import pandas as pd

## **Working with JSON**
JSON (JavaScript Object Notation) is a lightweight data interchange format that is easy for humans to read and write, and easy for machines to parse and generate. It is commonly used for transmitting data between a server and a web application, as well as for configuration files, APIs, and various other purposes.

JSON is designed to be a language-independent data format, meaning it can be used with any programming language that has the capability to parse and generate JSON data. It is often used in web development for sending and receiving structured data, as it's more concise and easier to work with than XML.

JSON data is represented as a collection of key-value pairs, where each key is a string and each value can be a string, number, boolean, object, array, or null. JSON objects are enclosed in curly braces {}, and each key-value pair is separated by a colon. JSON arrays are ordered lists of values and are enclosed in square brackets [].

**Example:**

```JSON
{
  "name": "John Doe",
  "age": 30,
  "isStudent": false,
  "hobbies": ["reading", "swimming", "gardening"]
}

```

### **Read a Local JSON File**

In [2]:
json_path = r"D:\Coding\Datasets\train.json"
pd.read_json(json_path)

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

### **Read a JSON File from URL**

In [6]:
json_url = r"https://raw.githubusercontent.com/LearnWebCode/json-example/master/animals-1.json"
pd.read_json(json_url)

       name species                                              foods
0    Meowsy     cat  {'likes': ['tuna', 'catnip'], 'dislikes': ['ha...
1     Barky     dog  {'likes': ['bones', 'carrots'], 'dislikes': ['...
2  Purrpaws     cat       {'likes': ['mice'], 'dislikes': ['cookies']}

## **Working with SQL**